@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Cuprum:wght@400;700&family=Roboto:wght@400;700;900&family=Varela+Round&display=swap');

body {
    max-width: 100%;
    margin: 0 auto;
}

.App {
    max-height: 100vh;
    font-family: 'Roboto', sans-serif;
}